.testimonials{
background: linear-gradient(122.37deg, rgba(255, 255, 255, 0.72) 0.58%, rgba(255, 255, 255, 0.9) 100%);
box-shadow: 0px 15px 30px rgba(71, 149, 250, 0.2);
border-radius: 20px;
padding:40px 30px;
margin-top:40px;
}